body {
    font-family: Arial, sans-serif;
    background: #f3e9ff;
}

.container {
    width: 350px;
    background: white;
    padding: 25px;
    border-radius: 15px;
    margin: 40px auto;
    text-align: center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #7a1fa2;
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 8px;
    border: 2px solid #d8b7ff;
    outline: none;
}

button {
    width: 50%;
    padding: 10px;
    background: #7a1fa2;
    border: none;
    border-radius: 8px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #5e1480;
}

#hasil {
    margin-top: 20px;
    font-size: 16px;
    color: #4a0066;
    font-weight: bold;
}
